<li>
  <%= link_to sequencing.run, sequencing %> - 
  <% if sequencing.completed_on.nil? %>
    <%= link_to "Uncompleted", sequencing %>
  <% else %>
    <%= format_date(sequencing.completed_on) %>
  <% end %>  
</li>