<% provide(:title, "Edit Experiment") %>
<h1>Edit Experiment Metadata</h1>

<%= form_for(@experiment) do |f| %>
  <%= render 'experiment_fields', f: f %>
  <div class="row">
    <div class="center">
      <%= f.submit "Save Changes", class: "btn btn-large btn-primary" %>
    </div>
  </div>
<% end %>

